/* ***************************** Chapter 43-48  **************************** */

/* ****************************** Task 2 ****************************** */

/* h1{
    color: white;
    background-color: royalblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 60px;
}
h3{
    color: royalblue;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
img{
    border: 2px solid royalblue;
}
#main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* ****************************** Task 5 ****************************** */

/* #counter h1{
    width: 200px;
    height: 60px;
    color: white;
    background-color: darkgoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    margin: 30px auto;
    border: 2px solid white;
    border-radius: 200px;
}
#counter button{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
}

#counter div{
    display: flex;
    justify-content: center;
}

#plus{
    background-color: rgb(62, 199, 62);
    margin: 0px 10px;
}
#minus{
    background-color: rgb(211, 63, 63);
    margin: 0px 10px;
} */

